body 
{
    font-family: "Arial", sans-serif;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header 
{
    background-color: #55aa75;
    color: white;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

h1 
{
    margin: 0;
    font-size: 2.5rem;
}

.week 
{
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding: 2rem;
    margin-top: -3rem;
}

.day 
{
    margin-bottom: 2rem;
}

.day h3, .day h4 
{
    color: #4caf50;
}

ul 
{
    list-style-position: inside;
    text-align: left;
    margin: 10px auto;
    padding: 0 20px;
}

p, label 
{
    margin: 1rem 0;
    font-size: 1.25rem;
}

.sidenav 
{
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
}   
   
.sidenav a 
{
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}
  
.sidenav a:hover 
{
   color: #f1f1f1;
}
  
.sidenav .closebtn 
{
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;  
}

