body {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #55aa75;
  color: white;
  padding: 2rem;
  text-align: center;
  width: 100%;
  position: relative;
}
span {
  margin-left: 26px;
}
header span {
  position: absolute;
  top: 20px;
  left: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

p {
  margin: 1rem 0 2rem;
  font-size: 1.25rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

main {
  width: 90%;
  max-width: 800px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 2rem;
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
  color: #55aa75;
}

.plan-selection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.plan-selection button {
  padding: 1rem 2rem;
  border: 1px solid #55aa75;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #55aa75;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.plan-selection button:hover {
  background-color: #55aa75;
  color: white;
}

.workout-plan {
  display: none;
}

.workout-plan h2 {
  margin-bottom: 1rem;
}

.plan-details {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.plan-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.plan-details th,
.plan-details td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}

.plan-details th {
  background-color: #f5f5f5;
  color: #55aa75;
}

.hidden {
  display: none;
}
